################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MikeLupanov-Change-/v17/Browse.VC.opendb
